<div class="flex flex-col w-full h-[60vh]">

  <!-- Messages -->
  <div class="flex flex-col grow overflow-auto">

    @if (messages().length === 0) {
      <div class="text-center text-gray-500 mt-10">
        No messages yet
      </div>
    } @else {

      @for (message of messages(); track message.id) {
        <div class="chat"
          [class.chat-start]="!message.currentUserSender"
          [class.chat-end]="message.currentUserSender"
        >
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                alt="chat-image avatar"
                [src]="message.senderImageUrl"
              />
            </div>
          </div>

          <div class="chat-header">
            {{message.senderDisplayName}}
            <time class="text-xs opacity-50">
              {{message.messageSent | date: 'short'}}
            </time>
          </div>

          <div class="chat-bubble">{{message.content}}</div>

          <div class="chat-footer opacity-50">
            @if (message.currentUserSender && message.dateRead) {
              Seen {{message.dateRead | timeAgo}}
            } @else if (message.currentUserSender && !message.dateRead) {
              Not read
            } @else {
              Delivered
            }
          </div>
        </div>
      }

    }
      <div #messageEndRef></div>
  </div>

  <div class="flex  items-center join w-full border-t pt-2  bg-base-100">
    <input
      [(ngModel)]="messageContent"
      class="input join-item w-full"
      placeholder="Enter your message"
      (keydown.enter)="sendMessage()"
    >
    <button
      (click)="sendMessage()"
      type="submit"
      class="btn btn-primary join-item">
      Send
    </button>
  </div>

</div>